@charset "ISO-8859-1";
body{
    width: 399px;
    margin: auto;
    padding-top : 100px;
    padding-right: 1590px;
    background-image: linear-gradient(to right,rgb(169, 179, 41),blue);
}

.h1{
    background-image: linear-gradient(to right,rgb(169, 179, 37),blue);
    color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
}
.tbClientes{
    color: rgb(0, 0, 0);
    width: 2000px;
}
.Corbranco{
    background-color: azure;
}

.id{
background-color: white;
color: black;
}
.Nome{
	background-color: white;
    
}
.Sobrenome{
	background-color:white;
    
}
.Endereco{
	background-color:white;
    
}
.Contato{
	background-color: white;
    
}
.Email{
	background-color:white;
    width: 200px;  
}
.PdInteresse{
	background-color: white;
    
}
.Genero{
	border-bottom-color:white;
    width: 200px;
}
.FaixaEtaria{
	background-color: white;
    
}
 

td {
    color: beige;
    background-color: rgba(0, 0, 0, 0.082);
}

